*{
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    text-align: center;
    }

    .Liang {
        max-width: 1%; 
        height: auto; 
    }



