    *{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    body{
    overflow: hidden;
    text-align: center;

    }

    canvas {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #000;
        width: 100vw;
        height: 100vh;
    }

    .Liang {
        max-width: 1%; 
        height: auto; 
    }
    .prevCalc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 150%;
    }

    footer{
    text-align: center;
    font-style: italic;
    }

    .calculator {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border: 1px solid #000;
    }
    
    #display {
        width: 90%;
        padding: 10px;
    }
    
    .buttons button {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    h1{
    color: white;
    }
    h3{
    color: blue;
    }

    h5{
    color: green;
    }


    h6{
        color: white;
        font-size: 150%;
        font-style:italic;
        /* font-size: small; */
        font-family: Brush Script MT, Verdana, sans-serif;
    }

    label{
        color: white;
        font-size: 150%;
        font-style:italic;
        /* font-size: small; */
        font-family: Brush Script MT, Verdana, sans-serif;
    }
 
    /* td {
        padding: 10px;
    }  */