
body{
    margin: 15px auto; 
    text-align: center;
    }

h1{
        text-align: center;
        color: red;
        }

header, footer{
    margin: 20px;
    }
footer{
    font-style:italic;
    }
table, tr, td{
    border: none ;
    margin-left: auto; 
    margin-right: auto;
    }
ul{
    text-align: left;
    margin-left: 40%;
    }
h6 {
    font-family: Brush Script MT, Verdana, sans-serif;
    }
.Liang{
    max-width: 1%; 
    height: auto; 
    }

    